<div class="handlebar-th">
    {{name}}
    {{#if currentState}}
        <div class="name-Column">{{name}}</div>
        {{#if currentStateSort}}
            <div class="handlebar-th-upward-img"></div>
        {{else}}
            <div class="handlebar-th-downward-img></div>
        {{/if}}
     {{/if}}
</div>